<div class="Search">
     <h2 class="header">Filtra inserendo l'id del trattore</h2>
     <h2 class="header2">Se non vuoi applicare alcun filtro digita all</h2>
     <div id="search"></div>
     <input type="text" placeholder=" " #box>
     <button class="primary" type="button" (click)="getval(box.value)">Search</button>
</div>
<div class="mongo">
  <h2 class="header">Mongo char dashboard</h2>
  <div id="dashboard"></div>
  <iframe id="frame_id" style="background: #F1F5F4;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 100vw;height: 100vh;"  src="https://charts.mongodb.com/charts-project-0-qldul/embed/dashboards?id=65deac0d-4859-420f-8b9e-8e9bcc0e9e9b&theme=light&autoRefresh=true&maxDataAge=1800&showTitleAndDesc=true&scalingWidth=scale&scalingHeight=scale&"></iframe>
</div>
